:root{
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;
    font-size: 16px;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: #000;
    overflow-y: hidden;
}

.gameContainer{
    width: 100%;
    max-width: 500px;
    margin: 0 auto 0 auto;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    align-content: center;
}

.banner{
    height: 50px;
    width: 100%;
    border-bottom: solid 1px #3a3a3c;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
}

.bannerButton{
    color:#30a4f1;
    width: 49px;
    height: 100%;
    background-color: #000;
    border: none;
    font-size: 22px;
    font-weight: bold;
    outline: none;
}

.boardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

board{
    max-width: calc(0.82*(100vh - 250px));
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 1px;
    padding: 10px;
    flex-grow: 1;
    box-sizing: border-box;
}

.boardRow{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1px;
    box-sizing: border-box;
}

.boardRow.shake{
    animation: shake 600ms;
}

.boardSquare{
    aspect-ratio: 1;
    font-size: 36px;
    font-weight: bold;
    border: 2px solid #3a3a3c;
    display: flex;
    flex: 1;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: 2px;
    transform: scale(1);
    user-select: none;
}

/* .boardSquare::before{
    content: "";
    display: inline-block;
    padding-bottom: 100%;
} */

/* research media rules */
/* @media (max-height: 600px){
.boardSquare {
    font-size: 1rem;
    line-height: 1rem;
    }
} */

.correct{
    animation: wave 450ms linear;
}

.boardSquare[data-animation = 'transition1']{
    animation: transition1 250ms ease-in forwards;
}

.boardSquare[data-animation = 'transition2']{
    animation: transition2 250ms ease-out;
}

.keyboardContainer{
    height: 200px;
    width: 100%;
    margin: 0 auto 8px auto;
    user-select: none;
}

.keyboardContainer .keyRow{
    display: flex;
    width: 100%;
    touch-action: manipulation;
}

.keyboardContainer button{
    height: 58px;
    border-radius: 4px;
    border: none;
    padding: 0px;
    margin: 3px;
    color: #fff;
    background-color: #818384;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    flex: 1;
    display: flex;
    outline: none;
}

/* Evens out the middle row of the keyboard */
.spacer{
    flex:0.5
}

#ENTER,
#BACKSPACE{
    flex:1.5;
}

#BACKSPACE{
    font-size: 24px;
    font-weight: 900;
    transform: rotateY(180deg);
}

.boardSquare.filled{
    border: 2px solid #525354;
}

.boardSquare[data-animation = 'filled']{
    animation: boop 100ms !important;
}

.boardSquare[data-animation = 'flip1']{
    animation: flip1 250ms ease-in forwards;
}

.boardSquare[data-animation = 'flip2']{
    animation: flip2 250ms ease-out;
}

.grayHint{
    background-color: #3a3a3c !important;
    border:none !important;
}

.yellowHint{
    background-color: #b59f3a !important;
    border:none !important;
}

.greenHint{
    background-color: #538d4e !important;
    border:none !important;
}

#overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3000;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#overlay[data-viewable = 'yes']{
    display: flex;
    animation: fadeIn 200ms;
}

#overlay[data-viewable = 'closing']{
    display: flex;
    animation: fadeOut 200ms forwards;
}

#rulesContainer{
    width: 90%;
    max-width: 500px;
    max-height: 90%;
    position: relative;
    display: none;
    border-radius: 8px;
    border: 1px solid #1a1a1b;
    background-color: #2b2b2c;
    color: #fff;
    box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    padding: 16px;
    box-sizing: border-box;
    flex-direction: column;
}

#rulesContainer[data-viewable = 'yes']{
    display: flex;
    animation: slideIn 200ms;
}

#rulesContainer[data-viewable = 'closing']{
    display: flex;
    animation: slideOut 200ms forwards;
}

rules{
    font-size: 14px;
}

#statsContainer{
    width: 90%;
    max-width: 500px;
    max-height: 90%;
    position: relative;
    display: none;
    border-radius: 8px;
    border: 1px solid #1a1a1b;
    background-color: #2b2b2c;
    color: #fff;
    box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    padding: 16px;
    box-sizing: border-box;
    flex-direction: column;
}

#statsContainer[data-viewable = 'yes']{
    display: flex;
    animation: slideIn 200ms;
}

#statsContainer[data-viewable = 'closing']{
    display: flex;
    animation: slideOut 200ms forwards;
}

.modalTitleContainer{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

turnsContainer{
    width: calc(100% - 60px);
    min-width: 211px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-bottom: solid 1px #555;
    text-align: center;
    font-size: 12px;
}

#turnsRemaining{
    font-size: 24px;
    color: #30a4f1;
}

rundownContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.modalColumn{
    width: 50%;
    align-items: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

dailyWordsContainer{
    width: 100%;
    margin: 10px;
    display: flex;
}

.guessedWords{
    width: 81%;
    height: 184px;
    font-size: 26px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    text-align: center;
}

dailyWord[data-guessed = 'correct']{
    color: #4ead45;
}

dailyWord[data-guessed = 'missed']{
    color: #dd3f3f;
}

.wordPoints{
    width: 19%;
    height: 184px;
    font-size: 18px;
    align-items: center;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

dailyPoints{
    color: #4ead45;
}

totalWeeklyContainer{
    width: 100%;
    max-width: 170px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    padding-left: 10%;
    align-items: center;
}

totalWeeklyText{
    font-size: 10px;
    text-align: center;
}

#TotalPoints{
    color: #30a4f1;
    font-size: 34px;
    font-weight: 700;
    text-align: right;
    flex-grow: 1;
}

WeeklyContainer{
    width: 70%;
    height: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
}

#AllPoints{
    height: 284px;
}

.days{
    max-width: 61px;
    font-size: 14px;
    margin-left: 20%;
    align-items: center;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    flex-grow: 1;
}

.points{
    font-size: 26px;
    color:#30a4f1;
    align-items: center;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    flex-grow: 1;
}

.today{
    color:#4ead45;
    font-weight: 700;
}

averagesContainer{
    width: 100%;
    align-items: center;
    display: flex;
}

.averageTitle{
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.averages{
    font-size: 34px;
    color: #30a4f1;
}

@keyframes wave{
    0%, 10%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-18px);
    }
    50%{
        transform: translateY(-21px);
    }
    60%{
        transform: translateY(-18px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes transition1{
    0%{
        transform: rotateY(0deg)
    }
    100%{
        transform: rotateY(90deg);
    }
}

@keyframes transition2{
    0%{
        transform: rotateY(90deg)
    }
    100%{
        transform: rotateY(0deg);
    }
}

@keyframes flip1{
    0%{
        transform: rotateX(0deg)
    }
    100%{
        transform: rotateX(90deg);
    }
}

@keyframes flip2{
    0%{
        transform: rotateX(90deg)
    }
    100%{
        transform: rotateX(0deg);
    }
}

@keyframes boop{
    from{
    transform: scale(0.8);
    opacity: 0;
    }
    40%{
    transform: scale(1.1);
    opacity: 1;
    }
}

@keyframes shake{
    10%,
    90%{
        transform: translateX(-1px);
    }

    20%,
    80%{
        transform: translateX(2px);
    }

    30%,
    50%,
    70%{
        transform: translateX(-4px);
    }

    40%,
    60%{
        transform: translateX(4px);
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    to{
        opacity: 0;
    }
}

@keyframes slideIn{
    0%{
        transform: translateY(-150%);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes slideOut{
    0%{
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-150px);
    }
}